head
  link(rel="stylesheet", href="/css/account/create.css", data-inline)
body
  div.main
    div.center
      img(alt="Logo Magic Next", src="https://raw.githubusercontent.com/magic-next/icq/master/build/images/v2.png")
    p Olá, Planeswalker,
    p Antes de começarmos nossa aventura no mundo da economia comprando cartas de Magic the Gathering, precisamos que você confirme seu email.
    div.center.confirm-button
      a(href=link) Confirmar email
    small Se você recebeu esse email e não sabe o que está acontecendo, tenho a triste notícia a lhe dar: alguém está usando seu email.
    p - Equipe Magic Next
